<div class="backscreen">
  <div class="wrapper">
    <div class="side-bar">
      <div class="side-bar-upper">
        <h2><%= current_user.nickname %></h2>
      </div>
      <div class="side-bar-lower">
        <ul>
          <li><%= link_to 'しおり一覧', "#" %></li>
          <li><%= link_to '設定', "#" %></li>
          <% if user_signed_in? %>          
            <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "logout" %></li>
          <% end %>
        </ul>
      </div>
    </div>
    <div class="main-container">
      <h1>マイページ/root_path</h1>
    </div>
  </div>




</div>


