/* スケジュール作成・編集フォーム */
.new-event-content {
  width: 90%;
  height: 90%;  
  background-color: white;
  overflow: auto;

}

.event-title {
  margin-top: 30px;
  padding: 10px;
  text-align: center;
}

.schedule-day {
  color: #aaa;
  text-align: center;

}

.event-main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.event-text {
  width: 100%;
  padding: 16px 16px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 16px;
  resize: none;
}

.image-preview {
  width: 100%;
  background-color: aqua;
}

img {
  width: 350px;
  height: 250px;
}

/* ボタン */
.create-btn-contents {
  display: flex;
  justify-content: space-around;
  padding: 30px;
}

.create-btn {
  display: inline-block;
  height: 50px;
  padding: 0 30px;
  line-height: 50px;
  letter-spacing: 1px;
  text-align: center;
  border: none;
  border-radius: 2px;
  margin: 20px;
  color: #fff;
  background-color: #F89174;
}

.back-btn {
  display: inline-block;
  height: 50px;
  padding: 0 30px;
  line-height: 50px;
  letter-spacing: 1px;
  text-align: center;
  border: none;
  border-radius: 2px;
  margin: 20px;
  color: #fff;
  background-color: #aaa;  
  text-decoration: none;
 
}


/* イベント詳細ページ(events#show) */
.events-show-container {
  width: 90%;
  min-width: 600px;
  margin: 20px;
}

.event-show {
  list-style: none;
  background-color: #fff;
  border: 3px solid #F89174;
  border-radius: 10px;
  min-width: 550px;
  margin: 10px;
  padding: 10px;
}

.event-show-info {
  color: #F89174;
  display: flex;
}

.event-show-info-left {
  min-width: 120px;
  border-right: 3px dotted #F89174;
  font-size: 20px;
}

.event-show-info-right {
  width: 90%;
  min-width: 400px;
  margin: 0 10px;
}

.event-show-info-right-upper {
  border-bottom: 3px solid #F89174;
  margin-bottom: 10px;
  padding: 5px 0;
  display: flex;
  justify-content: space-between;
}

.event-show-info-name {
  font-size: 30px;
  margin: 5px 0;
}

.event-show-info-price {
  text-align: right;
  margin-top: 10px;
  padding: 5px 0;
}

.event-show-info-place {
  color: #aaa;
  margin: 10px 0;
}

.event-show-info-text {
  color: #aaa;
  margin: 10px 0;
}

.event-show-images {
  width: 450px;
  height: 400px;
  background-color: #F89174;
  color: #fff;
}

