/* アイテム作成・編集フォーム */
.new-item-content {
  width: 90%;
  height: 90%;  
  background-color: white;
  overflow: auto;

}

.item-title {
  margin-top: 30px;
  padding: 10px;
  text-align: center;
}


.trip-days {
  color: #aaa;
  text-align: center;

}

.item-main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.item-text {
  width: 100%;
  padding: 16px 16px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 16px;
  resize: none;
}

/* ボタン */
.create-btn-contents {
  display: flex;
  justify-content: space-around;
  padding: 30px;
}

.create-btn {
  display: inline-block;
  height: 50px;
  padding: 0 30px;
  line-height: 50px;
  letter-spacing: 1px;
  text-align: center;
  border: none;
  border-radius: 2px;
  margin: 20px;
  color: #fff;
  background-color: #F89174;
}

.back-btn {
  display: inline-block;
  height: 50px;
  padding: 0 30px;
  line-height: 50px;
  letter-spacing: 1px;
  text-align: center;
  border: none;
  border-radius: 2px;
  margin: 20px;
  color: #fff;
  background-color: #aaa;  
  text-decoration: none;
 
}

