/* リスト作成・編集フォーム */
.new-list-content {
  width: 90%;
  height: 90%;  
  background-color: white;
  overflow: auto;

}

.list-title {
  margin-top: 30px;
  padding: 10px;
  text-align: center;
}


.trip-days {
  color: #aaa;
  text-align: center;

}

.list-main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.list-text {
  width: 100%;
  padding: 16px 16px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 16px;
  resize: none;
}

/* ボタン */
.create-btn-contents {
  display: flex;
  justify-content: space-around;
  padding: 30px;
}

.create-btn {
  display: inline-block;
  height: 50px;
  padding: 0 30px;
  line-height: 50px;
  letter-spacing: 1px;
  text-align: center;
  border: none;
  border-radius: 2px;
  margin: 20px;
  color: #fff;
  background-color: #F89174;
}

.back-btn {
  display: inline-block;
  height: 50px;
  padding: 0 30px;
  line-height: 50px;
  letter-spacing: 1px;
  text-align: center;
  border: none;
  border-radius: 2px;
  margin: 20px;
  color: #fff;
  background-color: #aaa;  
  text-decoration: none;
 
}


/* リスト詳細ページ */

.list-titile {
  display: flex;
  width: 90%;
  min-width: 450px;
  margin: 20px 0;
}

.list-titile h3 {
  margin-top: 10px;
  padding: 20px;
  color: gray;
}

.list-details {
  width: 90%;
  min-width: 450px;
  margin: 20px;
}

.list-details-items {
  display: flex;
}

.list-details-items p {
  margin: 10px;
  padding: 5px;
}

/* リスト項目 */
.items-container {
  width: 90%;
  min-width: 600px;
  margin: 20px;
  border-top: thin dotted #333333;
}

.item-lists {
  padding: 10px;
}

.item-list {
  list-style: none;
  background-color: #fff;
  border: 3px solid #F89174;
  border-radius: 10px;
  min-width: 550px;
  margin: 10px;
  padding: 10px;
}

.item-info {
  color: #F89174;
  display: flex;
}

.item-checked {
  width: 85%;
  display: flex;
}


.item-info-left {
  width: 10%;
  /* min-width: 120px; */
  border-right: 3px dotted #F89174;
  font-size: 30px;
  text-align: center;
  padding: 20px 5px;
}

.item-info-center {
  width: 90%;
  /* min-width: 120px; */
  margin-left: 10px;
}

.item-info-name {
  font-size: 25px;
  margin: 5px 0;
}

.item-info-text {
  font-size: 15px;
  margin: 10px 0;
  padding: 5px 0;
}

.item-info-right {
  width: 15%;
  /* min-width: 400px; */
  margin: 0 10px;
  border-left: 3px dotted #F89174;
}

.item-info-right ul {
  padding: 10px;
}

.item-info-right li {
  list-style: none;
  text-align: center;
  
}

.item-info-right li a {
  text-decoration: none;
  color: #F89174;
}

.item-info-right li a:hover {
  color: #d65f4c;
}

div[data-check="true"] {
  color: #aaa;
}