.backscreen {
  width: 100%;
  height: 100vh;
  background: linear-gradient(to bottom, #FFF, #FFC778 30%, #F89174 60%, #748af8);
  display: flex;
  justify-content: center;
  align-items: center;
}


/* ログイン・サインアップ画面 */
.left-content {
  width: 40%;
  height: 80%;
  background-color: #F89174;
  background-image: image-url("top_image.jpg");
  background-size: cover;
}

.app-title {
  background-color: rgba(255, 255, 255, 0.5);
  margin: 20px 0;

}

.left-content h1 {
  padding: 5px 15px;
  color: #333333;
}


.right-content {
  width: 40%;
  height: 80%;
  background-color: white;
  overflow: auto;

}

.account-page {
  margin: 20px;
}

.account-page h2:after {
  content: "";
  display: block;
  width: 400px;
  margin-top: 5px;
  border-bottom: 1px solid #F89174;
}

.account-page .field {
  margin-bottom: 10px;
}

.account-page .field .field-label {
  padding: 10px 0;
  letter-spacing: 1px;
  font-size: 14px;
  font-weight: 200;
}
.account-page .field .field-label i {
  font-size: 11px;
}
.account-page .field .field-input input {
  width: 100%;
  padding: 10px;
  letter-spacing: 1px;
}
.account-page .btn {
  display: inline-block;
  height: 50px;
  padding: 0 30px;
  line-height: 50px;
  letter-spacing: 1px;
  text-align: center;
  border: none;
  border-radius: 2px;
}
.account-page input[type=submit] {
  float: left;
  margin: 20px 0;
  color: #fff;
  background-color: #F89174;
}


/* ログイン・サインアップ画面のエラーメッセージ */
.login-flash-message {
  color: red;
  margin-top: 5px;
}

.error-alert {
  color: red;
  margin-top: 5px;
}

.account-page .field-label .field_with_errors {
  display: inline-block;
  color: #d65f4c;
  font-weight: 400;
}
.account-page .field-input .field_with_errors {
  position: relative;
}
.account-page .field-input .field_with_errors:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 5px;
  background-color: #d65f4c;
}

#error_explanation {
  margin: 20px 0;
  padding: 20px 30px;
  border: 1px solid #ddd;
  border-radius: 2px;
}
#error_explanation h2 {
  margin-bottom: 10px;
  color: #d65f4c;
  font-size: 14px;
}
#error_explanation ul {
  margin: 0;
  padding-left: 17px;
  list-style: square;
}
#error_explanation li {
  margin: 0;
  padding: 0;
  font-size: 13px;
}

/* マイページ(root_path)などのサイドバー */
.wrapper {
  width: 90%;
  height: 90%;
  display: flex;
  background-color: sandybrown;
}

.side-bar {
  background-color: #7fd9d2;
  width: 20%;
  min-width: 275px;
  background-image: image-url("top_image.jpg");
  background-size: cover;
  
}

.side-bar-upper {
  width: 90%;
  height: 50px;
  margin: 5px auto;
  padding: 5px;
  background-color: rgba(255, 255, 255, 0.5);
  overflow: auto;
}

.side-bar-upper h2 {
  color: #333333; 
  margin: 0 auto;
}


.side-bar-lower {
  margin: auto;
  width: 90%;
  height: calc(95% - 50px);
  background-color: rgba(255, 255, 255, 0.5);
  overflow: auto;
}

.side-bar-lower ul {
  padding: 10px;
  
}


.side-bar-lower li {
  font-size: 20px;
  padding: 5px;
  list-style: none;
  text-align: left;
}

.side-bar-lower li a {
  color: #333333; 
  text-decoration: none;
}

.side-bar-lower a:hover {
  color: #F89174; 
}


/* マイページ(root_path)などのメイン */
.main-container {
  background-color: white;
  width: 80%;
  overflow: auto;
  
}

/* マイページのしおり一覧 */
.main-container h1 {
  text-align: center;
  margin: 20px auto;
}

.trip-lists {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 10px;
  min-width: 450px;
}

.trip-list {
  list-style: none;
  background: linear-gradient(to bottom, #FFC778 30%, #F89174 60%, #748af8);
  border-radius: 10px;
  width: 180px;
  height: 180px;
  margin: 10px;
  padding: 10px;
  overflow: auto;
}

.trip-lists li a {
  text-decoration: none;
}

.trip-info {
  color: #333333;
  text-align: center;
}

.trip-info:hover {
  color: #d65f4c;
}


.trip-info p {
  margin: 5px;
}